
.chat-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #050000;
    border-radius: 5px;
    box-shadow: 2px 2px 2px blue;
    background-color: yellowgreen;
  }
  
  .chat-history {
    height: 90%;
    overflow-y: scroll;
  }
  
  .chat-input {
    margin-top: 10px;
    border: 1px solid #070707;
    display: flex;
  }
  
  .user-message {
    text-align: left;
  }
  
  .bot-message {
    text-align: right;
  }

#user-input{
  color: rgb(7, 7, 7);
  background-color: rgb(249, 250, 248);
}
  
